.navbar {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .navbar__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
  .navbar__item {
    flex: 0 1 auto;
    min-width: 10px; /* Adjust this value as needed */
    text-align: center;
    padding: 0 15px; /* Add some padding for better spacing */
  }
  
  .navbar__items--right {
    margin-left: auto; /* Push right-aligned items to the right */
  }

  .footer__links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Ensures items wrap if screen is too narrow */
    margin: 0 auto;
  }
  
  .footer__links ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0;
    flex-wrap: wrap;
  }
  
  .footer__links li {
    display: inline;
  }
  
  .footer__links a {
    text-decoration: none;
    color: var(--ifm-footer-link-color);
    font-weight: 500;
    padding: 5px 10px;
    transition: color 0.2s ease-in-out;
  }
  
  .footer__links a:hover {
    color: var(--ifm-color-primary);
  }

  .footer__copyright{
    padding-top: 30px;
    padding-bottom: 20px;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }
  
  .col {
    flex: 1;
    padding: 0 15px;
    box-sizing: border-box;
  }