/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  background-color: rgb(66, 121, 223); /* Update with the correct path to your image */
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 8rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  height: 60vh;
}

.headerRow {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7rem;
}

.headerLogo {
  max-width: 350px;
  height: auto;
}

.headerText {
  text-align: left;
}

/* For mobile responsiveness */
@media screen and (max-width: 768px) {
  .headerRow {
    flex-direction: column;
    gap: 1rem;
  }
  
  .headerText {
    text-align: center;
  }
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.centeredText {
  width: 55%;
  margin: 0 auto;
  text-align: left;
}

.imageRow {
  display: flex;
  justify-content: center; /* Center the images horizontally */
  align-items: center; /* Center the images vertically */
  gap: 20px; /* Add some space between the images */
}

.imageRow img {
  max-width: 200px;
  height: auto;
}

.teamSection {
  text-align: center;
  padding: 2rem 0;
}

.teamGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.teamMember {
  max-width: 200px;
  text-align: center;
}

.teamMember img {
  width: 100%;
  border-radius: 50%;
}

.teamMember h3 {
  margin: 0.5rem 0 0.2rem;
}

.teamMember p {
  margin: 0;
  font-size: 0.9rem;
  color: #666;
}

.videoContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.imageGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}

.imageGrid img {
  object-fit:cover;
  max-width: 45%;
  height: auto;
}